.comingSoonContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;

    .blueGlow {
        top: -10%;
        left: -10%;
        position: absolute;
        width: 500px;
        height: 500px;
        background-color: cyan;
        z-index: 2;
        filter: blur(100px);
        -ms-filter: blur(100px);
        -webkit-filter: blur(100px);
        mix-blend-mode: color;
    }

    .redGlow {
        bottom: -10%;
        right: -10%;
        position: absolute;
        width: 500px;
        height: 500px;
        background-color: red;
        z-index: 2;
        filter: blur(100px);
        -ms-filter: blur(100px);
        -webkit-filter: blur(100px);
        mix-blend-mode: color;
    }

    .backgroundVideo {
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 1;
        object-fit: cover;
        filter: grayscale(70%)brightness(0.2);
    }

    .header {
        width: 100%;
        height: 40px;
        z-index: 2;
    }

    .main {
        width: 100%;
        height: calc(100% - 40px - 40px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 2;

        h1 {
            font-size: 100px;
            font-weight: 900;
            color: white;
            text-align: center;
        }

    }

    .footer {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        border-top: 1px solid rgba($color: white, $alpha: 0.075);
        z-index: 2;

        .developer {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            margin: 0 2px;
            padding: 4px 6px;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: rgb(30, 30, 30);
            }

            img {
                width: 18px;
                height: 18px;
                object-fit: contain;
                margin-right: 2px;
            }

        }

    }

}

@media screen and (max-width: 700px) {
    .comingSoonContainer {
        .main {
            h1 {
                font-size: 70px !important;
            }
        }
    }
}