
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Geist", sans-serif;
    user-select: none;
}


p {
    color: white;
    font-size: 14px;
    font-weight: 400;
}

b {
    color: white;
    font-size: 14px;
    font-weight: 600;
}

a {
    text-decoration: none;
}