@use "./colors.scss"as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Geist", sans-serif;
    user-select: none;
}


p {
    color: white;
    font-size: 14px;
    font-weight: 400;
}

b {
    color: white;
    font-size: 14px;
    font-weight: 600;
}

a {
    text-decoration: none;
}

input {
    width: inherit;
    height: 38px;
    outline: none;
    border: $border;
    background-color: transparent;
    backdrop-filter: blur(4px);
    color: white;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 500;

    &[disabled] {
        color: rgba($color: white, $alpha: 0.2);
        user-select: none;
    }

}